@charset "UTF-8";
/*
================================
  -------globales--------  
================================
  */
/* --debugger --*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edf2f6;
}
body a {
  text-decoration: none;
}

:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "DM Sans", sans-serif;
  --f_fontFamily--Secundary: "Montserrat", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_white: #fff;
  --c_black: #000;
  --c_MainColor: #fbfbfb;
  --c_purple400: #5b1dae;
  --c_purple200: #984bfd;
  --c_yellow400: #e3b134;
  --c_yellow200: #fdd87b;
  /*-- Buttons Shadow --*/
  --c_shadow: 2px 1px 5px #3f3f3f;
}

.renderQuestions {
  display: flex;
  padding: 1rem;
}
.renderQuestions .imgQuestions {
  width: 50%;
}
.renderQuestions .imgQuestions .bannerQuestion {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}
.renderQuestions .questions {
  width: 50%;
  padding: 2rem;
}
.renderQuestions .questions h5 {
  text-align: left;
}
.renderQuestions .questions p {
  text-align: "left";
}
.renderQuestions .questions .showP1,
.renderQuestions .questions .showP2,
.renderQuestions .questions .showP3,
.renderQuestions .questions .showP4,
.renderQuestions .questions .showP5,
.renderQuestions .questions .showP6 {
  display: none;
}
.renderQuestions .questions #componenteRenden1,
.renderQuestions .questions #componenteRenden2,
.renderQuestions .questions #componenteRenden3,
.renderQuestions .questions #componenteRenden4,
.renderQuestions .questions #componenteRenden5,
.renderQuestions .questions #componenteRenden6 {
  display: flex;
  justify-content: space-between;
}
.renderQuestions .questions button {
  font-size: 28px;
  border: none;
  background-color: #fff;
  color: #5b1dae;
}
.renderQuestions .questions .titleQuestions {
  margin-bottom: 2rem;
}

.renderRespuestas {
  margin-bottom: 1rem;
  border-bottom: 3px solid #d7def0;
}

/*
================================
------- Footer --------  
================================
  */
/* beginning Footer */
.footer {
  overflow: hidden;
  position: relative;
  bottom: 0;
  padding: 2rem 2rem 0 2rem;
  background-color: var(--c_MainColor);
  z-index: 0;
  width: 100%;
}
.footer p {
  font-weight: 500;
  color: #040505;
}
.footer .footer__main-content {
  padding: 3rem;
  border-top: 2px solid rgb(180, 180, 180);
  border-bottom: 2px solid rgb(180, 180, 180);
}
.footer .diagonal_bar {
  position: absolute;
  bottom: -65%;
  left: 20%;
  width: 150%;
  height: 70%;
  background-color: #4584ff;
  transform: rotate(-25deg);
  transform-origin: bottom left;
  z-index: -1;
  mix-blend-mode: color-burn;
}
.footer .grid__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.footer .grid__content .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .grid__content .redes img {
  padding: 0 0.5rem;
}
.footer .grid__content .redes a:hover {
  filter: drop-shadow(0 0 0.75rem black);
}
.footer .grid__content .linksFooter {
  display: flex;
  flex-direction: column;
}
.footer .grid__content .linksFooter a {
  margin-top: 1rem;
}
.footer .footer__legales {
  height: 5rem;
}
.footer .footer__legales p {
  padding: 0 2rem;
}
.footer .redes_img:hover {
  text-shadow: 2px 2px 2px black;
}

a {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  color: #040505;
}

a:hover {
  transform: scale(1.1);
  color: #5b1dae;
}

/*
================================
  -------globales--------  
================================
  */
/* --debugger --*/
* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edf2f6;
}
body a {
  text-decoration: none;
}

:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "DM Sans", sans-serif;
  --f_fontFamily--Secundary: "Montserrat", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_white: #fff;
  --c_black: #000;
  --c_MainColor: #fbfbfb;
  --c_purple400: #5b1dae;
  --c_purple200: #984bfd;
  --c_yellow400: #e3b134;
  --c_yellow200: #fdd87b;
  /*-- Buttons Shadow --*/
  --c_shadow: 2px 1px 5px #3f3f3f;
}

/* beginning header */
@keyframes expand {
  from {
    width: 30%;
  }
  to {
    width: 70%;
  }
}
/*
================================
  ------- Nav --------  
================================
  */
/* beginning Nav */
nav {
  background-color: var(--c_MainColor);
  box-shadow: 0 2px 1rem #888888;
  padding: 1rem 2rem 0.5rem;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 0 0.5rem;
}
nav ul li button {
  color: var(--c_white);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}
nav ul li button img {
  margin: 0 1rem 0 0;
}

.no__decoration {
  text-decoration: none;
  color: white;
}

.disabled {
  display: none;
}

.button__styleP {
  background-color: var(--c_purple400);
  border: none;
}

.button__styleP:hover {
  box-shadow: var(--c_shadow);
  background-color: var(--c_purple200);
}

.button__styleY {
  background-color: var(--c_yellow400);
  border: none;
  padding: 0.5rem 2rem;
}

.button__styleY:hover {
  box-shadow: var(--c_shadow);
  background-color: var(--c_yellow200);
}

.brand__color1 {
  color: var(--c_purple400);
}

.brand_color2 {
  color: var(--c_yellow400);
}

.navButt {
  color: #6D8493;
  border: 3px solid transparent;
  border-radius: 0.5rem;
  background-color: transparent;
  margin: 0 1rem;
}

.navButt:hover {
  border: 3px solid var(--c_purple400);
  color: var(--c_purple400);
}

.inicio {
  padding-top: 0.3rem;
  margin-left: 0.5rem;
}

.d-flexMain {
  overflow: hidden;
  position: relative;
  height: 300vh;
}
.d-flexMain .Ofertas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.d-flexMain .Ofertas .LongCard {
  display: flex;
  border: 1px solid var(--c_purple200);
  width: 70%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #FBFBFB;
}

.Hero {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.Hero ul {
  display: flex;
  list-style-type: none;
}
.Hero ul .ButtonHero {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  color: var(--c_white);
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  margin: 1rem;
}
.Hero ul .ButtonHero2 {
  font-size: 1.5rem;
  color: var(--c_white);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin: 1rem;
}
.Hero .HeroTitle {
  font-weight: bold;
  font-size: 2.5rem;
  color: #1E255E;
}
.Hero .HeroSubText {
  color: rgba(30, 37, 94, 0.7);
}

.diagonalBar {
  position: absolute;
  background-color: rgba(45, 84, 255, 0.15);
  transform-origin: bottom left;
  height: 10%;
  width: 300%;
  z-index: -1;
  transform: rotate(-55deg);
  bottom: -5%;
}

.Banner {
  background-color: var(--c_purple400);
  color: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
.Banner .BannerText {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.cardContainer {
  background-color: #fbfbfb;
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 65%;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  border: 1px solid var(--c_purple200);
  margin-bottom: 2rem;
}

.profileSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 20px;
}

.profileImg {
  border-radius: 10px;
  height: auto;
  object-fit: cover;
}

.contentSection {
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  margin-bottom: 1rem;
}

.headerText {
  display: flex;
  flex-direction: column;
}

.headerSection h2 {
  color: #333;
}

.profileLink {
  color: #6c63ff;
  text-decoration: none;
  font-size: 14px;
  margin-top: 4px;
}

.bookmarkIcon {
  font-size: 2rem;
  color: #6c63ff;
}

.ratingSection {
  font-size: 20px;
  color: #FFD700;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.ratingSection .fa-star {
  margin-right: 5px;
}

.detailsSection {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.detailsSection .detailsSection2 {
  margin-left: 5rem;
}

.infoList {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #333;
  line-height: 1.5;
  font-size: 14px;
}

.infoList li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.infoList i {
  color: #6c63ff;
  margin-right: 8px;
}

.infoList .i1 {
  margin-right: 10px;
}

.infoList .i3 {
  margin-right: 5px;
}

.infoList .i2 {
  margin-right: 15px;
}

.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.priceInfo {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.priceInfo span {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  margin-right: 5px;
}

.actionButtons {
  display: flex;
  gap: 10px;
}

.offerButton, .hireButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

.offerButton {
  background-color: #f0ad4e;
  color: #fff;
}

.offerButton:hover {
  background-color: #ec971f;
}

.hireButton {
  background-color: #6c63ff;
  color: #fff;
}

.hireButton:hover {
  background-color: #5a54e6;
}

.cardContainer:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.UserCarrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.UserCarrousel button {
  border: none;
  font-size: 4rem;
  color: var(--c_yellow400);
  text-shadow: #333 1px 1px 5px;
}
.UserCarrousel .UserCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--c_purple200);
  width: 20%;
  height: 60%;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 2rem 0 2rem;
  background-color: #FBFBFB;
}
.UserCarrousel .UserCard figure {
  position: relative;
  display: inline-block;
}
.UserCarrousel .UserCard figure .profileImg {
  border-radius: 50%;
  border: 4px solid var(--c_yellow400);
}
.UserCarrousel .UserCard .profileName {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.UserCarrousel .UserCard .roleName {
  font-size: 1.5rem;
  color: var(--c_yellow400);
}
.UserCarrousel .UserCard .priceRange {
  color: var(--c_purple400);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.UserCarrousel .UserCard .Rating {
  display: flex;
  width: max-content;
  background-color: var(--c_yellow400);
  border-radius: 1rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.UserCarrousel .UserCard .Rating .fa-star {
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-login {
  position: relative;
  overflow: hidden;
  font-family: "DM-Sans", "roboto", Arial;
  background-color: #E0E4EC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.body-login {
  background-color: #E0E4EC;
}

.raya {
  position: absolute;
  transform-origin: center;
  transform: rotate(154.72deg);
  width: 180%;
  height: 50%;
  background-color: rgba(45, 84, 255, 0.15);
  z-index: -1;
}

#r-separator {
  margin-bottom: 0.05rem;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #c0c0c0;
}
.separator::before, .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #c0c0c0;
}
.separator:not(:empty)::before {
  margin-right: 0.25em;
}
.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.login-container {
  display: flex;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 40px;
  max-width: 400px;
  width: 100%;
}
.login-form h1 {
  padding: 0;
  font-family: "Roboto", "DM-Sans", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #6b2ae5;
  margin-top: 0;
  margin-bottom: 0;
}
.login-form .yellow {
  color: #E3B134;
}
.login-form h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
}
.login-form p {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

#b-google {
  margin-bottom: 0.1rem;
}

.google-login {
  background-color: #E3B134;
  color: white;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.google-login img {
  width: 20px;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
}
form label {
  font-family: "Roboto", "DM-sans", sans-serif;
  font-size: 0.9em;
  margin-bottom: 0.3rem;
  color: #000;
}
form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
form input#email, form input#password {
  background-color: rgba(128, 87, 241, 0.367);
  margin-bottom: 0.5rem;
}
form input[type=checkbox] {
  width: auto;
  margin-right: 5px;
}

.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.password-container .c-password {
  width: 100%;
}
.password-container #Eye_closed {
  width: 1.5rem;
}
.password-container .icon {
  position: absolute;
  right: 8px;
  top: 40%;
  transform: translateY(-50%);
  height: 60%;
  cursor: pointer;
}
.password-container .icon:hover {
  opacity: 0.8;
}

#d-remember {
  margin-top: 0.01rem;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.remember,
.password,
.email {
  font-weight: 500;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #6C70F8;
}

.button-ingresar {
  background-color: #E3B134;
  color: white;
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3607843137) 0px 4px 8px;
}

#btn-registrar, #btn-ingresar {
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.button-register {
  background-color: #6b2ae5;
  color: white;
  font-size: 1em;
  font-weight: 600;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3607843137) 0px 4px 8px;
}

.b-register, .b-ingresar {
  text-decoration: none;
}

#modal-pregunta {
  color: #6C70F8;
  padding: 0;
  margin: 0;
}

.btn-close {
  position: absolute;
  right: 0.2rem;
  margin-top: 0.2rem;
  width: 1rem;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.modal-dialog {
  box-shadow: 0 0 40px rgba(21, 21, 21, 0.5);
}

#b-enviar {
  background-color: #6b2ae5;
  color: #ffffff;
}
#b-enviar .btn-enviar {
  box-shadow: rgba(0, 0, 0, 0.3607843137) 0px 4px 8px;
}

.email-modal {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(128, 87, 241, 0.367);
  width: 100%;
  margin-top: 0.5rem;
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.login-image img {
  background-size: cover;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  overflow: hidden;
  font-family: "DM-Sans", "Roboto", Arial, sans-serif;
  background-color: #E0E4EC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container a {
  text-decoration: none;
  color: var(--c_white);
  font-weight: bold;
}

.raya {
  position: absolute;
  transform-origin: center;
  transform: rotate(-154.72deg);
  width: 180%;
  height: 50%;
  background-color: rgba(45, 84, 255, 0.15);
  z-index: -1;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 30%;
  width: 100%;
  padding: 20px;
}

.register-form {
  width: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
}
.register-form h1 {
  font-family: "Roboto", "DM-Sans", sans-serif;
  font-weight: bolder;
  font-size: 4rem;
  color: #6b2ae5;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.register-form .name-container {
  display: flex;
  gap: 0.8rem;
}
.register-form .name {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.register-form .yellow {
  color: #E3B134;
}
.register-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 200;
}
.register-form .google-login {
  background-color: #E3B134;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3607843137) 0px 2px 2px;
  font-size: 0.9rem;
  font-weight: 600;
  height: 3rem;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 0;
}
.register-form .google-login img {
  width: 20px;
  margin-right: 10px;
}
.register-form .separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #c0c0c0;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 500;
  font-size: 0.9rem;
}
.register-form .separator::before, .register-form .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #c0c0c0;
}
.register-form .separator:not(:empty)::before {
  margin-right: 0.25em;
}
.register-form .separator:not(:empty)::after {
  margin-left: 0.25em;
}
.register-form form {
  display: flex;
  flex-direction: column;
}
.register-form form label {
  margin-bottom: 5px;
  color: #000;
  font-weight: 500;
  font-size: 1.05rem;
}
.register-form form input {
  padding: 10px;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(128, 87, 241, 0.367);
  width: 100%;
}
.register-form form .password-container {
  position: relative;
}
.register-form form .password-container .c-password {
  width: 100%;
  padding-right: 40px;
}
.register-form form .password-container .icon {
  position: absolute;
  right: 0.5rem;
  top: 40%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 60%;
  cursor: pointer;
}
.register-form form .password-container .icon:hover {
  opacity: 0.8;
}
.register-form .button-register {
  background-color: #6b2ae5;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3607843137) 0px 4px 8px;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  height: 3rem;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.setting {
  height: auto;
}

.nav-link {
  transition: transform 0.6s ease;
}

.main-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
}
.main-setting .setting-card {
  padding: 1rem;
}
.main-setting p {
  color: #4c535f;
}
.main-setting .mainInputs {
  border-top: solid 3px #edf2f6;
}
.main-setting .mainInputs .description {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.main-setting .mainInputs .description p {
  display: flex;
}
.main-setting .mainInputs .description .inputDescription {
  width: 100%;
  height: 9.85rem;
  padding: 10px;
  background-color: #edf2f6;
  border: solid 1px #edf2f6;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: left;
  resize: none;
}
.main-setting .mainInputs .containerInputs {
  display: flex;
}
.main-setting .mainInputs .containerInputs p {
  font-size: 16px;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: inherit;
}
.main-setting .mainInputs .containerInputs .firstInputs {
  width: 50%;
  padding: 1rem;
}
.main-setting .mainInputs .containerInputs .firstInputs .inputName {
  width: 100%;
  padding: 15px;
  background-color: #edf2f6;
  border: solid 1px #edf2f6;
  border-radius: 8px;
}
.main-setting .mainInputs .containerInputs .firstInputs .inputUSer {
  width: 100%;
  padding: 15px;
  background-color: #edf2f6;
  border: solid 1px #edf2f6;
  border-radius: 8px;
}
.main-setting .mainInputs .containerInputs .secondInputs {
  width: 50%;
  padding: 1rem;
}
.main-setting .mainInputs .containerInputs .secondInputs .inputEmail {
  width: 100%;
  padding: 15px;
  background-color: #edf2f6;
  border: solid 1px #edf2f6;
  border-radius: 8px;
}
.main-setting .mainInputs .containerInputs .secondInputs .Phone {
  width: 100%;
  padding: 15px;
  background-color: #edf2f6;
  border: solid 1px #edf2f6;
  border-radius: 8px;
}
.main-setting .mainInputs .btn-container {
  display: flex;
  align-items: center;
  padding: 16px;
}
.main-setting .mainInputs .btn-container button {
  border-radius: 1.5rem;
  color: var(--c_white);
  padding: 0.5rem 1.2rem;
  margin-right: 5px;
  transition: all 0.3s ease;
}
.main-setting .mainInputs .btn-container .button__styleY {
  color: #32353c;
  border: none;
  background-color: #fff;
}
.main-setting .mainInputs .btn-container .button__styleY:hover {
  color: #a54024;
  background-color: #fff;
  box-shadow: none;
}

.setting-card {
  width: 80%;
}
.setting-card li {
  border-bottom: solid 2px #edf2f6;
  box-sizing: border-box;
  transition: border 0.3s ease;
}
.setting-card li a {
  font-size: 18px;
  color: #4c535f;
  border: none;
}
.setting-card li a:hover {
  border: none;
  color: #5b1dae;
}
.setting-card li:hover {
  border-style: none;
  border-bottom: solid 3px #5b1dae;
}
.setting-card .card-header {
  background-color: white;
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
}
.card-body .card-title {
  display: flex;
}
.card-body .addImage {
  width: 8.5rem;
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-radius: 12px;
  border-color: #c4c8cb;
  background-color: #edf2f6;
  margin-top: 1rem;
}
.card-body .addImage p {
  text-align: center;
  color: #a9a9a9;
}
.card-body .addImage img {
  max-width: 30%;
  max-height: 30%;
  height: auto;
}

.inputEmail {
  width: 100%;
  padding: 15px;
  background-color: #edf2f6;
  border: solid 1px #edf2f6;
  border-radius: 8px;
}

.subtitleContacts {
  padding: 0rem 1rem;
  margin: 0;
  font-size: 16px;
}

.my-componentLogin {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.my-componentLogin .ContainerLogin {
  margin-left: 1rem;
}
.my-componentLogin p {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
}
.my-componentLogin .titleLogin {
  padding: 1rem;
  font-size: 20px;
}
.my-componentLogin .divLogin {
  display: flex;
  width: 100%;
}
.my-componentLogin .divLogin .divLogin2 {
  width: 100%;
  padding: 1rem;
}
.my-componentLogin .divLogin .divLogin4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}
.my-componentLogin .inputEmail {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #edf2f6;
  border: solid 1px #edf2f6;
  border-radius: 8px;
}
.my-componentLogin .divLogin10 {
  display: flex;
}

.divLogin5 {
  display: flex;
  width: 100%;
}
.divLogin5 .divLogin6 {
  width: 50%;
  padding: 1rem;
}
.divLogin5 .divLogin8 {
  width: 50%;
  padding: 1rem;
}

.divLogin10 {
  padding: 16px;
}
.divLogin10 button {
  color: var(--c_white);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  margin-right: 8px;
  transition: all 0.3s ease;
}
.divLogin10 .button__styleY {
  color: #32353c;
  border: none;
  background-color: #fff;
}
.divLogin10 .button__styleY:hover {
  color: #a54024;
  background-color: #fff;
  box-shadow: none;
}

/*
================================
  -------globales--------  
================================
  */
/* --debugger --*/
* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edf2f6;
}
body a {
  text-decoration: none;
}

:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "DM Sans", sans-serif;
  --f_fontFamily--Secundary: "Montserrat", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_white: #fff;
  --c_black: #000;
  --c_MainColor: #fbfbfb;
  --c_purple400: #5b1dae;
  --c_purple200: #984bfd;
  --c_yellow400: #e3b134;
  --c_yellow200: #fdd87b;
  /*-- Buttons Shadow --*/
  --c_shadow: 2px 1px 5px #3f3f3f;
}

/*Variables*/
.fondo {
  background-color: #edf2f6;
}

/* Profile */
.mainProfile {
  margin: 20px auto;
  width: 80%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  font-family: var(--f_fontFamily), var(--f_fontFamily--Secundary);
}
.mainProfile .containerProfile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20rem 1fr 1fr;
  gap: 0;
  /* Equivalente a grid-column-gap y grid-row-gap: 0px */
  width: 100%;
}
.mainProfile .containerProfile .subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem;
}
.mainProfile .containerProfile .profileBanner {
  grid-area: 1/1/2/6;
  height: 12rem;
  background-image: url("../components/img/Profile/Portada.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0px 0px;
}
.mainProfile .containerProfile .profileBanner .userData {
  position: relative;
  display: flex;
  flex-direction: row;
  bottom: -6rem;
  margin: 20px;
  align-items: center;
}
.mainProfile .containerProfile .profileBanner .userData .profilePic {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.mainProfile .containerProfile .profileBanner .userData .rating {
  margin: 0.5rem;
  align-content: center;
  padding: 0.5rem;
}
.mainProfile .containerProfile .profileBanner .userData .rating h1 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.mainProfile .containerProfile .profileBanner .userData .rating p {
  font-size: 1rem;
  margin-top: 0;
}
.mainProfile .containerProfile .profileBanner .userData .rating .rating-wrapper {
  align-self: center;
  border-radius: 5rem;
  display: inline-flex;
  direction: rtl !important;
  padding: 0.7rem 0.7rem;
  margin-left: auto;
}
.mainProfile .containerProfile .profileBanner .userData .rating .rating-wrapper label {
  color: #E1E6F6;
  cursor: pointer;
  display: inline-flex;
  font-size: 2.2rem;
  padding: 0 0.2rem;
  transition: color 0.5s;
}
.mainProfile .containerProfile .profileBanner .userData .rating .rating-wrapper svg {
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow 4px 1px 6px rgb(198, 206, 237);
  filter: drop-shadow(5px 1px 3px rgb(198, 206, 237));
}
.mainProfile .containerProfile .profileBanner .userData .rating .rating-wrapper input {
  display: none;
}
.mainProfile .containerProfile .profileBanner .userData .rating .rating-wrapper label:hover,
.mainProfile .containerProfile .profileBanner .userData .rating .rating-wrapper label:hover ~ label,
.mainProfile .containerProfile .profileBanner .userData .rating .rating-wrapper input:checked ~ label {
  color: #e3b134;
}
.mainProfile .containerProfile .profileBanner .userData .button__styleY {
  background-color: #e3b134;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 3rem;
  margin-top: 1rem;
  max-height: 3.5rem;
  border: none;
  padding: 0.5rem 2rem;
  width: 100%;
}
.mainProfile .containerProfile .profileBanner .userData .button__styleY:hover {
  box-shadow: 2px 1px 5px #3f3f3f;
}
.mainProfile .containerProfile .rightSection {
  grid-area: 2/2/3/3;
}
.mainProfile .containerProfile .ProfileLeftSection {
  grid-area: 2/1/3/2;
}
.mainProfile .containerProfile .ProfileLeftSection .ProfileAboutMe {
  padding: 0 4rem;
}
.mainProfile .containerProfile .ProfileLeftSection .ProfileAboutMe .description {
  margin: 0.5rem;
  font-size: 1.2rem;
}
.mainProfile .reviews {
  grid-area: 3/1/4/2;
  margin: 0 4rem;
}
.mainProfile .reviews .review {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid #e0e0e0;
}
.mainProfile .reviews .review .review-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.mainProfile .reviews .review .review-header .reviewer h4 {
  margin: 0 0.5rem;
  font-size: 1.2rem;
}
.mainProfile .reviews .review .review-header .reviewer .review-rating {
  display: flex;
}
.mainProfile .reviews .review .review-header .reviewer .review-star {
  color: #e3b134;
  font-size: 2rem;
}
.mainProfile .reviews .review .review-profile-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 10px;
  border: #e3b134 2px solid;
}
.mainProfile .reviews .review .review-ver-imagenes {
  margin-left: auto;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}
.mainProfile .reviews .review .review-body {
  padding: 10px;
  border: 1px solid rgba(152, 75, 253, 0.4);
  border-radius: 5px;
}
.mainProfile .reviews .review .review-body .review-comment {
  display: flex;
  align-items: center;
}
.mainProfile .reviews .review .review-body .review-comment .review-comment-icon {
  font-size: 20px;
  margin-right: 10px;
}
.mainProfile .offers {
  grid-area: 3/2/4/3;
}

.accepted {
  background-color: #984bfd;
  color: #ffffff;
}

.job-card {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid #e0e0e0;
  margin: 1rem 2rem;
}
.job-card .actionButtons {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.job-card .actionButtons .offerButton {
  width: 100%;
}
.job-card .job-image img {
  border-radius: 10px;
  object-fit: cover;
  border: #e3b134 2px solid;
  width: 7rem;
  height: 7rem;
}
.job-card .job-info {
  flex-grow: 1;
  margin: 0 1rem;
}
.job-card .job-info h3 {
  margin: 0;
  font-weight: bold;
  color: #333;
}
.job-card .job-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.job-card .job-info p i {
  margin-right: 5px;
  color: #7b1fa2;
}
.job-card .job-info .jobDetails {
  font-weight: 700;
}
.job-card .job-info .jobVector {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
}
.job-card .status {
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.job-card .pending {
  background-color: #1976d2;
  color: #fff;
}
.job-card .pending::before {
  font-weight: 700;
  margin-right: 5px;
}

.job-card:hover {
  box-shadow: 0 4px 10px rgba(152, 75, 253, 0.6);
  transform: translateY(-5px);
}

.profileSkills {
  max-width: 50rem;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  padding: 0.5rem 4rem;
}

.containerProfile h2 {
  font-size: 20px;
  color: #d4a72c;
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5333333333);
  padding-bottom: 5px;
  display: inline-block;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 1rem;
}

.tag {
  background-color: #f3c74f;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.tag::before {
  margin-right: 8px;
  font-weight: bold;
  color: #ffffff;
}

.add-tag {
  background-color: transparent;
  color: #000;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.add-tag:hover {
  text-decoration: underline;
}

/* línea amarilla del fondo */
.line {
  position: absolute;
  transform-origin: center;
  transform: rotate(-150deg);
  top: 50%;
  left: -20%;
  width: 160%;
  height: 30%;
  background-color: rgba(227, 177, 52, 0.15);
  z-index: -1;
  clip-path: polygon(0 0, 100% 34%, 100% 69%, 0% 100%);
}

.AboutUs {
  text-align: center;
  padding: 75px 20px;
}
.AboutUsTitle {
  font-size: 2rem;
  color: #1e0342;
  font-weight: 500;
  margin-bottom: 40px;
}

.members-section {
  max-width: 900px;
  margin: 0 auto;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 90%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.bottom-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0 10px;
  margin-top: 20px;
  width: 90%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.member {
  width: 100%;
  max-width: 180px;
}
.member-information h2 {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #5b1dae;
}
.member-information p {
  margin: 0;
  font-size: 12px;
  color: #e3b134;
  text-transform: uppercase;
}
.member-photo {
  height: 50%;
  border-radius: 50%;
  object-fit: cover;
  width: 60%;
  box-shadow: 2px 1px 5px #3f3f3f;
  transition: transform 0.3s ease-in-out;
}
.member-photo:hover {
  transform: scale(1.1);
}

.botontrabaja {
  background-color: #e3b134;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 40px;
  cursor: pointer;
  box-shadow: 2px 1px 5px #3f3f3f;
}

.containerPayment {
  font-family: "DM Sans", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 0.9rem;
}

.containerPago {
  display: flex;
  margin: 10px 80px;
  justify-content: space-between;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: center;
}

form.left-column {
  width: 55%;
  padding-right: 15px;
}

.right-column {
  width: 35%;
  padding: 15px;
}

.filaV {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-groupV {
  width: 100%;
  margin-bottom: 10px;
}

.form-groupV label {
  display: block;
  margin-bottom: 4px;
}

.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  width: 48%;
}

.form-group label {
  display: block;
  margin-bottom: 4px;
}

input[type=text] {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.btnPago[type=submit] {
  background-color: #5B1DAE;
  color: white;
  padding: 8px;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
}

.payment-methods {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.payment-logo {
  max-width: 40px;
  margin-right: 8px;
}

.Logo-ChanGo {
  display: block;
  margin: 0 auto 60px;
  max-width: 120px;
  height: auto;
}

.order-summary {
  margin-bottom: 15px;
}

.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.service-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 8px;
}

.service-info {
  flex-grow: 1;
}

.service-name, .service-provider {
  margin: 0;
  font-size: 0.9rem;
}

.total-summary hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 8px 0;
}

.taxes-info {
  font-size: 0.8rem;
  color: #667;
}

.Price {
  font-size: 22px;
  font-weight: bold;
}

.total {
  font-size: 36px;
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
