@charset "UTF-8";
/*
================================
  -------globales--------  
================================
  */
/* --debugger --*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #edf2f6; }
  body a {
    text-decoration: none; }

:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "Roboto", sans-serif;
  --f_fontFamily--Secundary: "Montserrat", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_white: #fff;
  --c_black: #000;
  --c_MainColor: #fbfbfb;
  --c_purple400: #5b1dae;
  --c_purple200: #984bfd;
  --c_yellow400: #e3b134;
  --c_yellow200: #fdd87b;
  /*-- Buttons Shadow --*/
  --c_shadow: 2px 1px 5px #3f3f3f; }

.setting {
  height: auto; }

.nav-link {
  transition: transform 0.6s ease; }

.main-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0; }
  .main-setting .setting-card {
    padding: 1rem; }
  .main-setting p {
    color: #4c535f; }
  .main-setting .mainInputs {
    border-top: solid 3px #edf2f6; }
    .main-setting .mainInputs .description {
      display: flex;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem; }
      .main-setting .mainInputs .description p {
        display: flex; }
      .main-setting .mainInputs .description .inputDescription {
        width: 100%;
        height: 9.85rem;
        padding: 10px;
        background-color: #edf2f6;
        border: solid 1px #edf2f6;
        border-radius: 8px;
        box-sizing: border-box;
        text-align: left;
        resize: none; }
    .main-setting .mainInputs .containerInputs {
      display: flex; }
      .main-setting .mainInputs .containerInputs p {
        font-size: 16px;
        display: flex;
        margin-top: 8px;
        margin-bottom: 8px;
        font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        text-transform: inherit; }
      .main-setting .mainInputs .containerInputs .firstInputs {
        width: 50%;
        padding: 1rem; }
        .main-setting .mainInputs .containerInputs .firstInputs .inputName {
          width: 100%;
          padding: 10px;
          background-color: #edf2f6;
          border: solid 1px #edf2f6;
          border-radius: 8px; }
        .main-setting .mainInputs .containerInputs .firstInputs .inputUSer {
          width: 100%;
          padding: 10px;
          background-color: #edf2f6;
          border: solid 1px #edf2f6;
          border-radius: 8px; }
      .main-setting .mainInputs .containerInputs .secondInputs {
        width: 50%;
        padding: 1rem; }
        .main-setting .mainInputs .containerInputs .secondInputs .inputEmail {
          width: 100%;
          padding: 10px;
          background-color: #edf2f6;
          border: solid 1px #edf2f6;
          border-radius: 8px; }
        .main-setting .mainInputs .containerInputs .secondInputs .Phone {
          width: 100%;
          padding: 10px;
          background-color: #edf2f6;
          border: solid 1px #edf2f6;
          border-radius: 8px; }
    .main-setting .mainInputs .btn-container {
      display: flex;
      align-items: center;
      padding: 8px; }
      .main-setting .mainInputs .btn-container button {
        border-radius: 1.5rem;
        color: var(--c_white);
        padding: 0.5rem 1.2rem;
        margin-right: 5px;
        transition: all 0.3s ease; }

.setting-card {
  width: 80%; }
  .setting-card li {
    border-bottom: solid 2px #edf2f6;
    box-sizing: border-box;
    transition: border 0.3s ease; }
    .setting-card li a {
      font-size: 18px;
      color: #4c535f;
      border: none; }
    .setting-card li a:hover {
      border: none;
      color: #5b1dae; }
  .setting-card li:hover {
    border-style: none;
    border-bottom: solid 3px #5b1dae; }
  .setting-card .card-header {
    background-color: white;
    border: none; }

.card-body {
  display: flex;
  flex-direction: column; }
  .card-body .card-title {
    display: flex; }
  .card-body .addImage {
    width: 8.5rem;
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-radius: 12px;
    border-color: #c4c8cb;
    background-color: #edf2f6;
    margin-top: 1rem; }
    .card-body .addImage p {
      text-align: center;
      color: #a9a9a9; }
    .card-body .addImage img {
      max-width: 30%;
      max-height: 30%;
      height: auto;
      /* Mantiene la proporción de la imagen */ }

.renderQuestions {
  display: flex;
  padding: 1rem; }
  .renderQuestions .imgQuestions {
    width: 50%; }
    .renderQuestions .imgQuestions .bannerQuestion {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
      display: block;
      margin: 0 auto;
      border-radius: 8px; }
  .renderQuestions .questions {
    width: 50%;
    padding: 2rem; }
    .renderQuestions .questions h5 {
      text-align: left; }
    .renderQuestions .questions p {
      text-align: "left"; }
    .renderQuestions .questions .showP1,
    .renderQuestions .questions .showP2,
    .renderQuestions .questions .showP3,
    .renderQuestions .questions .showP4,
    .renderQuestions .questions .showP5,
    .renderQuestions .questions .showP6 {
      display: none; }
    .renderQuestions .questions #componenteRenden1,
    .renderQuestions .questions #componenteRenden2,
    .renderQuestions .questions #componenteRenden3,
    .renderQuestions .questions #componenteRenden4,
    .renderQuestions .questions #componenteRenden5,
    .renderQuestions .questions #componenteRenden6 {
      display: flex;
      justify-content: space-between; }
    .renderQuestions .questions button {
      font-size: 28px;
      border: none;
      background-color: #fff;
      color: #5b1dae; }
    .renderQuestions .questions .titleQuestions {
      margin-bottom: 2rem; }

.renderRespuestas {
  margin-bottom: 1rem;
  border-bottom: 3px solid #d7def0; }

/*
================================
------- Footer --------  
================================
  */
/* beginning Footer */
.footer {
  overflow: hidden;
  position: relative;
  bottom: 0;
  padding: 2rem 2rem 0 2rem;
  background-color: var(--c_MainColor);
  z-index: 0;
  width: 100%; }
  .footer p {
    font-weight: 500;
    color: #040505; }
  .footer .footer__main-content {
    padding: 3rem;
    border-top: 2px solid #b4b4b4;
    border-bottom: 2px solid #b4b4b4; }
  .footer .diagonal_bar {
    position: absolute;
    bottom: -65%;
    left: 20%;
    width: 150%;
    height: 70%;
    background-color: #4584ff;
    transform: rotate(-25deg);
    transform-origin: bottom left;
    z-index: -1;
    mix-blend-mode: color-burn; }
  .footer .grid__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; }
    .footer .grid__content .redes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .footer .grid__content .redes img {
        padding: 0 0.5rem; }
      .footer .grid__content .redes a:hover {
        box-shadow: 1px 1px 0.5rem black; }
  .footer .footer__legales {
    height: 5rem; }
    .footer .footer__legales p {
      padding: 0 2rem; }
  .footer .redes_img:hover {
    text-shadow: 2px 2px 2px black; }

a {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  color: #040505; }

a:hover {
  transform: scale(1.1);
  color: #5b1dae; }

/*
================================
  -------globales--------  
================================
  */
/* --debugger --*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #edf2f6; }
  body a {
    text-decoration: none; }

:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "Roboto", sans-serif;
  --f_fontFamily--Secundary: "Montserrat", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_white: #fff;
  --c_black: #000;
  --c_MainColor: #fbfbfb;
  --c_purple400: #5b1dae;
  --c_purple200: #984bfd;
  --c_yellow400: #e3b134;
  --c_yellow200: #fdd87b;
  /*-- Buttons Shadow --*/
  --c_shadow: 2px 1px 5px #3f3f3f; }

/* beginning header */
@keyframes expand {
  from {
    width: 30%; }
  to {
    width: 70%; } }
/*
================================
  ------- Nav --------  
================================
  */
/* beginning Nav */
nav {
  background-color: var(--c_MainColor);
  box-shadow: 0 2px 1rem #888888;
  padding: 1rem 2rem .5rem; }
  nav ul {
    display: flex; }
    nav ul li {
      list-style-type: none;
      margin: 0 .5rem; }
      nav ul li button {
        color: var(--c_white);
        padding: .5rem 1rem;
        border-radius: 1.5rem; }
        nav ul li button img {
          margin: 0 1rem 0 0; }

.no__decoration {
  text-decoration: none;
  color: white; }

.disabled {
  display: none; }

.button__styleP {
  background-color: var(--c_purple400);
  border: none; }

.button__styleP:hover {
  box-shadow: var(--c_shadow);
  background-color: var(--c_purple200); }

.button__styleY {
  background-color: var(--c_yellow400);
  border: none;
  padding: .5rem 2rem; }

.button__styleY:hover {
  box-shadow: var(--c_shadow);
  background-color: var(--c_yellow200); }

.brand__color1 {
  color: var(--c_purple400); }

.brand_color2 {
  color: var(--c_yellow400); }

.navButt {
  color: #6D8493;
  border: 3px solid transparent;
  border-radius: .5rem;
  background-color: transparent;
  margin: 0 1rem; }

.navButt:hover {
  border: 3px solid var(--c_purple400);
  color: var(--c_purple400); }

.inicio {
  padding-top: .3rem;
  margin-left: .5rem; }

main {
  overflow: hidden;
  position: relative;
  height: 300vh; }

.Hero {
  justify-content: space-evenly;
  align-items: center; }
  .Hero ul {
    display: flex;
    list-style-type: none; }
    .Hero ul .ButtonHero {
      font-size: 1.5rem;
      padding: .5rem 2rem;
      color: var(--c_white);
      padding: .5rem 2rem;
      border-radius: 2rem;
      margin: 1rem; }
    .Hero ul .ButtonHero2 {
      font-size: 1.5rem;
      color: var(--c_white);
      padding: .5rem 1rem;
      border-radius: 2rem;
      margin: 1rem; }
  .Hero .HeroTitle {
    font-weight: bold;
    font-size: 2.5rem;
    color: #1E255E; }
  .Hero .HeroSubText {
    color: rgba(30, 37, 94, 0.7); }

.diagonalBar {
  position: absolute;
  background-color: #4584FF;
  transform-origin: bottom left;
  height: 10%;
  width: 300%;
  z-index: 1;
  transform: rotate(-46deg);
  mix-blend-mode: color-burn;
  bottom: -5%; }

/*# sourceMappingURL=index.css.map */
