* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    overflow: hidden;
    font-family: "DM-Sans", "roboto", Arial;
    background-color: #E0E4EC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.raya {
    position: absolute;
    transform-origin: center;
    transform: rotate(154.72deg);
    width: 180%;
    height: 50%;
    background-color: rgba(45, 84, 255, 0.15);
    z-index: -1;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #c0c0c0;
    margin: 20px 0;
}
.separator::before, .separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #c0c0c0;
}
.separator:not(:empty)::before {
    margin-right: 0.25em;
}
.separator:not(:empty)::after {
    margin-left: 0.25em;
}

.login-container {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 40px;
    max-width: 400px;
    width: 100%;
}
.login-form h1 {
    font-family: "Roboto", "DM-Sans", sans-serif;
    font-weight: bolder;
    font-size: 3.5em;
    color: #6b2ae5;
    margin-top: 12px;
}
.login-form .yellow {
    color: #E3B134;
}
.login-form h2 {
  font-size: 1.9em;
  margin-top: 0;
}
.login-form p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.google-login {
  background-color: #E3B134;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.google-login img {
  width: 20px;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
}
form label {
  margin-bottom: 5px;
  color: #000;
}
form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
form input#email, form input#password {
  background-color: rgba(127, 87, 241, 0.25);
}
form input[type=checkbox] {
  width: auto;
  margin-right: 5px;
}

.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.password-container .c-password {
  width: 100%;
}
.password-container #Eye_closed {
  width: 1.5rem;
}
.password-container .icon {
  position: absolute;
  right: 8px;
  top: 40%;
  transform: translateY(-50%);
  height: 60%;
  cursor: pointer;
}
.password-container .icon:hover {
  opacity: 0.8;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.remember,
.password,
.email {
  font-weight: 500;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #6C70F8;
}

.button-ingresar {
  background-color: #E3B134;
  color: white;
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3607843137) 0px 4px 8px;
}

.button-register {
  background-color: #6b2ae5;
  color: white;
  font-size: 1em;
  font-weight: 600;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3607843137) 0px 4px 8px;
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.login-image img {
  background-size: cover;
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=login.css.map */
