@charset "UTF-8";
@keyframes expand {
  from {
    width: 30%;
  }
  to {
    width: 70%;
  }
}
/*
================================
  ------- Nav --------  
================================
  */
/* beginning Nav */
nav {
  background-color: var(--c_MainColor);
  box-shadow: 0 2px 1rem #888888;
  padding: 1rem 2rem 0.5rem;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 0 0.5rem;
}
nav ul li button {
  color: var(--c_white);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}
nav ul li button img {
  margin: 0 1rem 0 0;
}

.no__decoration {
  text-decoration: none;
  color: white;
}

.disabled {
  display: none;
}

.button__styleP {
  background-color: var(--c_purple400);
  border: none;
}

.button__styleP:hover {
  box-shadow: var(--c_shadow);
  background-color: var(--c_purple200);
}

.button__styleY {
  background-color: var(--c_yellow400);
  border: none;
  padding: 0.5rem 2rem;
}

.button__styleY:hover {
  box-shadow: var(--c_shadow);
  background-color: var(--c_yellow200);
}

.brand__color1 {
  color: var(--c_purple400);
}

.brand_color2 {
  color: var(--c_yellow400);
}

.navButt {
  color: #6D8493;
  border: 3px solid transparent;
  border-radius: 0.5rem;
  background-color: transparent;
  margin: 0 1rem;
}

.navButt:hover {
  border: 3px solid var(--c_purple400);
  color: var(--c_purple400);
}

.inicio {
  padding-top: 0.3rem;
  margin-left: 0.5rem;
}

/*
================================
------- Footer --------  
================================
  */
/* beginning Footer */
.footer {
  overflow: hidden;
  position: relative;
  bottom: 0;
  padding: 2rem 2rem 0 2rem;
  background-color: var(--c_MainColor);
  z-index: 0;
  width: 100%;
}
.footer p {
  font-weight: 500;
  color: #040505;
}
.footer .footer__main-content {
  padding: 3rem;
  border-top: 2px solid rgb(180, 180, 180);
  border-bottom: 2px solid rgb(180, 180, 180);
}
.footer .diagonal_bar {
  position: absolute;
  bottom: -65%;
  left: 20%;
  width: 150%;
  height: 70%;
  background-color: #4584ff;
  transform: rotate(-25deg);
  transform-origin: bottom left;
  z-index: -1;
  mix-blend-mode: color-burn;
}
.footer .grid__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.footer .grid__content .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .grid__content .redes img {
  padding: 0 0.5rem;
}
.footer .grid__content .redes a:hover {
  box-shadow: 1px 1px 0.5rem black;
}
.footer .footer__legales {
  height: 5rem;
}
.footer .footer__legales p {
  padding: 0 2rem;
}
.footer .redes_img:hover {
  text-shadow: 2px 2px 2px black;
}

a {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  color: #040505;
}

a:hover {
  transform: scale(1.1);
  color: #5b1dae;
}

/*
================================
  -------globales--------  
================================
  */
/* --debugger --*/
* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edf2f6;
}
body a {
  text-decoration: none;
}

:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "DM Sans", sans-serif;
  --f_fontFamily--Secundary: "Montserrat", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_white: #fff;
  --c_black: #000;
  --c_MainColor: #fbfbfb;
  --c_purple400: #5b1dae;
  --c_purple200: #984bfd;
  --c_yellow400: #e3b134;
  --c_yellow200: #fdd87b;
  /*-- Buttons Shadow --*/
  --c_shadow: 2px 1px 5px #3f3f3f;
}

body {
  background-color: #EDF2F6;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.mainProfile {
  margin: 20px auto;
  max-width: 110rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.mainProfile .containerProfile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
}
.mainProfile .containerProfile .profileBanner {
  grid-area: 1/1/2/6;
  height: 12rem;
  background-image: url("../components/img/Portada.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0px 0px;
}
.mainProfile .containerProfile .profileBanner .profilePic {
  position: relative;
  margin: 20px;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  /* Hace que la imagen corte el banner */
  bottom: -6rem;
}
.mainProfile .containerProfile .profileBanner .userData {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 14rem;
}
.mainProfile .containerProfile .profileBanner .userData .datos {
  flex-direction: column;
}
.mainProfile .containerProfile .profileBanner .userData h1 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}
.mainProfile .containerProfile .profileBanner .userData p {
  font-size: 1rem;
  margin-top: 0;
}
.mainProfile .containerProfile .profileBanner .userData .btn-contratar {
  width: 12rem;
  height: 100%;
  margin: 1rem;
}
.mainProfile .containerProfile .profileBanner .button__styleY {
  background-color: #E3B134;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  border: 0.1rem solid #5B1DAE;
  padding: 8px 48px;
  border-radius: 16px;
  margin: 0 0.5rem 0 0;
}
.mainProfile .containerProfile .profileBanner .button__styleY:hover {
  box-shadow: 2px 1px 5px #3f3f3f;
  background-color: #fdd87b;
}
.mainProfile .containerProfile .profileBanner .aboutMe {
  grid-area: 2/1/3/3;
  border: 1px solid #5B1DAE;
  justify-content: center;
  max-width: 40rem;
  height: 100%;
}
.mainProfile .containerProfile .rightSection {
  grid-area: 2/2/4/3;
}
.mainProfile .containerProfile .rightSection .postulations {
  margin: 0;
}
.mainProfile .containerProfile .leftSection {
  grid-area: 2/1/4/2;
}
.mainProfile .containerProfile .leftSection .aboutMe {
  margin: 20px auto;
  padding: 4rem;
  max-width: 50rem;
}
.mainProfile .resenas {
  grid-area: 4/1/6/2;
}
.mainProfile .resenas .resena {
  margin: 20px auto;
  padding: 1rem;
  max-width: 50rem;
  border-radius: 10px;
}
.mainProfile .resenas .resena .resena-body {
  border: 1px solid #5B1DAE;
}
.mainProfile .ofertas {
  grid-area: 4/2/6/3;
}
.mainProfile h2 {
  font-size: 30;
  margin: 20px auto;
}

.accepted {
  background-color: #984bfd;
  color: #ffffff;
}

.job-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid #e0e0e0;
  max-width: 600px;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.job-image img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}

.job-info {
  flex-grow: 1;
}

.job-info h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.job-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.job-info p i {
  margin-right: 5px;
  color: #7b1fa2;
}

.status {
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.pending {
  background-color: #1976d2;
  color: #fff;
}

.pending::before {
  font-family: "Font Awesome 5 Free";
  /* Asegúrate de tener Font Awesome incluido */
  font-weight: 900;
  margin-right: 5px;
}

.skills {
  max-width: 50rem;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: 4rem;
}

.containerProfile h2 {
  font-size: 20px;
  color: #d4a72c;
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5333333333);
  padding-bottom: 5px;
  display: inline-block;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #f3c74f;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.tag::before {
  margin-right: 8px;
  font-weight: bold;
  color: #ffffff;
}

.add-tag {
  background-color: transparent;
  color: #000;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.add-tag:hover {
  text-decoration: underline;
}

.resena {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  width: 600px;
  margin: 20px auto;
}

.resena-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resena-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.resena-rating {
  display: flex;
}

.resena-star {
  color: #ffc107;
  font-size: 18px;
}

.resena-ver-imagenes {
  margin-left: auto;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.resena-body {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.resena-comment {
  display: flex;
  align-items: center;
}

.resena-comment-icon {
  font-size: 20px;
  margin-right: 10px;
}

.offerButton,
.hireButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

.offerButton {
  background-color: #f0ad4e;
  color: #fff;
}

.offerButton:hover {
  background-color: #ec971f;
}

.hireButton {
  background-color: #6c63ff;
  color: #fff;
}

.hireButton:hover {
  background-color: #5a54e6;
}

/*# sourceMappingURL=profile.css.map */
