@charset "UTF-8";
/*Import*/
/*
================================
  -------globales--------  
================================
  */
/* --debugger --*/
* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edf2f6;
}
body a {
  text-decoration: none;
}

:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "DM Sans", sans-serif;
  --f_fontFamily--Secundary: "Montserrat", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_white: #fff;
  --c_black: #000;
  --c_MainColor: #fbfbfb;
  --c_purple400: #5b1dae;
  --c_purple200: #984bfd;
  --c_yellow400: #e3b134;
  --c_yellow200: #fdd87b;
  /*-- Buttons Shadow --*/
  --c_shadow: 2px 1px 5px #3f3f3f;
}

/*Variables*/
/* 
body {
    background-color: #edf2f6;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
} */
.fondo {
  background-color: #edf2f6;
}

/* Profile */
.mainProfile {
  margin: 20px auto;
  max-width: 98rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  min-height: 58vw;
  /* .containerProfile */
  /* .resenas */
  /* .ofertas */
}
.mainProfile .containerProfile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0; /* Equivalente a grid-column-gap y grid-row-gap: 0px */
  width: 100%;
  height: 100%;
  max-height: 500px;
  /* .profileBanner */
  /* .rightSection */
  /* .ProfileLeftSection */
}
.mainProfile .containerProfile .subtitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem;
}
.mainProfile .containerProfile .profileBanner {
  grid-area: 1/1/2/6;
  height: 12rem;
  background-image: url("../components/img/Portada.png");
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0px 0px;
  /* .userData */
  /* .button__styleY */
  /* .ProfileAboutMe */
}
.mainProfile .containerProfile .profileBanner .profilePic {
  position: relative;
  margin: 20px;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  /* Hace que la imagen corte el banner */
  bottom: -6rem;
}
.mainProfile .containerProfile .profileBanner .userData {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 14rem;
  /* .datos */
}
.mainProfile .containerProfile .profileBanner .userData .datos {
  flex-direction: column;
}
.mainProfile .containerProfile .profileBanner .userData .datos h1 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.mainProfile .containerProfile .profileBanner .userData .datos p {
  font-size: 1rem;
  margin-top: 0;
}
.mainProfile .containerProfile .profileBanner .userData .btn-contratar {
  width: 12rem;
  height: 100%;
  margin: 1rem;
}
.mainProfile .containerProfile .profileBanner .button__styleY {
  background-color: #e3b134;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  border: 0.1rem solid #5b1dae;
  padding: 8px 48px;
  border-radius: 16px;
  margin: 0 0.5rem 0 0;
}
.mainProfile .containerProfile .profileBanner .button__styleY:hover {
  box-shadow: 2px 1px 5px #3f3f3f;
  background-color: #fdd87b;
}
.mainProfile .containerProfile .profileBanner .ProfileAboutMe {
  grid-area: 2/1/3/3;
  border: 1px solid #5b1dae;
  justify-content: center;
  max-width: 40rem;
  height: 100%;
}
.mainProfile .containerProfile .profileBanner .ProfileAboutMe p {
  margin: 20px;
}
.mainProfile .containerProfile .rightSection {
  grid-area: 2/2/3/3;
}
.mainProfile .containerProfile .rightSection .postulations {
  margin: 0;
}
.mainProfile .containerProfile .ProfileLeftSection {
  grid-area: 2/1/3/2;
}
.mainProfile .containerProfile .ProfileLeftSection .ProfileAboutMe {
  margin: 20px auto;
  padding: 6rem 4rem 0 4rem;
  max-width: 50rem;
}
.mainProfile .resenas {
  grid-area: 3/1/4/2;
  margin: 0 4rem;
  /* .resena */
}
.mainProfile .resenas .resena {
  margin: 20px auto;
  padding: 1rem;
  max-width: 50rem;
  border-radius: 10px;
}
.mainProfile .resenas .resena .resena-body {
  border: 1px solid #5b1dae;
}
.mainProfile .ofertas {
  grid-area: 3/2/4/3;
}

/* .mainProfile */
.accepted {
  background-color: #984bfd;
  color: #ffffff;
}

.job-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid #e0e0e0;
  max-width: 600px;
  margin: 20px;
  font-family: Arial, sans-serif;
  /* .actionButtons */
  /* .job-image */
  /* .job-info */
  /* .pending */
}
.job-card .actionButtons {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.job-card .actionButtons a {
  margin-top: 0.3rem;
}
.job-card .job-image img {
  max-width: 6rem;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}
.job-card .job-info {
  flex-grow: 1;
  /* p */
}
.job-card .job-info h3 {
  margin: 0;
  font-weight: bold;
  color: #333;
}
.job-card .job-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
.job-card .job-info p i {
  margin-right: 5px;
  color: #7b1fa2;
}
.job-card .job-info .jobDetails {
  font-weight: 700;
}
.job-card .job-info .jobVector {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
}
.job-card .status {
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.job-card .pending {
  background-color: #1976d2;
  color: #fff;
}
.job-card .pending::before {
  font-family: "Font Awesome 5 Free";
  /* Asegúrate de tener Font Awesome incluido */
  font-weight: 900;
  margin-right: 5px;
}

/* .job-card */
.profileSkills {
  max-width: 50rem;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  padding: 0.5rem 4rem;
}

.containerProfile h2 {
  font-size: 20px;
  color: #d4a72c;
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5333333333);
  padding-bottom: 5px;
  display: inline-block;
}

/* .containerProfile */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #f3c74f;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.tag::before {
  margin-right: 8px;
  font-weight: bold;
  color: #ffffff;
}

/* .tag */
.add-tag {
  background-color: transparent;
  color: #000;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.add-tag:hover {
  text-decoration: underline;
}

/* .add-tag */
.resena {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  width: 600px;
  margin: 20px auto;
  /* .resena-header */
  /* .resena-body */
}
.resena .resena-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.resena .resena-header h4 {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.2rem;
}
.resena .resena-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.resena .resena-rating {
  display: flex;
}
.resena .resena-star {
  color: #ffc107;
  font-size: 18px;
}
.resena .resena-ver-imagenes {
  margin-left: auto;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}
.resena .resena-body {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  /* .resena-comment */
}
.resena .resena-body .resena-comment {
  display: flex;
  align-items: center;
}
.resena .resena-body .resena-comment .resena-comment-icon {
  font-size: 20px;
  margin-right: 10px;
}

/* .resena */
.offerButton,
.hireButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

.offerButton {
  background-color: #f0ad4e;
  color: #fff;
}
.offerButton:hover {
  background-color: #ec971f;
}

/* .offerButton */
.hireButton {
  background-color: #6c63ff;
  color: #fff;
}
.hireButton:hover {
  background-color: #5a54e6;
}

/* .hireButton */

/*# sourceMappingURL=profile.css.map */
