/*
================================
------- Footer --------  
================================
  */
/* beginning Footer */

.footer{
    background-color: var(--c_purple900);
    grid-template-columns: 3;
    grid-template-rows: 1;
    
    .footer__brand{
        display: flex;
    }
    .brand_color1{
        color: var(--c_purple400);
    }
    .brand_color2{
        color: var(--c_yellow400)
    }
    .foot_colorW{
        color: var(--c_white);
    }
}