/*
================================
------- Footer --------  
================================
  */
/* beginning Footer */

.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: var(--c_purple900);

    .footer__logos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input{
            background-color: #fafafa;
            border: none;
            margin-left: 1rem;
            border-radius: 1rem;
            padding: 0 1rem;
            height: 2rem;
        }
        button{
            color: var(--c_white);
            padding: .5rem 1rem;
            border-radius: 1.5rem;
        }
    }
    .footer__data{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer__brand{
        display: flex;
    }
    .brand_color1{
        color: var(--c_purple400);
    }
    .brand_color2{
        color: var(--c_yellow400)
    }
    .foot_colorW{
        color: var(--c_white);
    }
    .logo__redes{
        display: block;
        padding: 1rem;
    }
    .logo__redes:hover{
        box-shadow: 1px 1px 2rem black ;
    }
}
