@charset 'UTF-8';

/*
================================
  -------globales--------  
================================
  */
/* --debugger --*/
* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #EDF2F6;
}

:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "Roboto", sans-serif;
  --f_fontFamily--Secundary: "Montserrat", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_white: #fff;
  --c_black: #000;
  --c_MainColor: #FBFBFB;
  --c_purple400: #5B1DAE;
  --c_purple200: #984bfd;
  --c_yellow400: #E3B134;
  --c_yellow200: #fdd87b;
  /*-- Buttons Shadow --*/
  --c_shadow: 2px 1px 5px #3f3f3f;
}


