
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-login {
  position: relative;
  overflow: hidden;
  font-family: 'DM-Sans', 'roboto', Arial;
  background-color: #E0E4EC;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.body-login {
  background-color: #E0E4EC;
}

.raya {
  position: absolute;
  transform-origin: center;
  transform: rotate(154.72deg);
  width: 180%;
  height: 50%;
  background-color: rgba(45, 84, 255, 0.15);
  z-index: -1;
}

#r-separator {
  margin-bottom: 0.05rem;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #c0c0c0;

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #c0c0c0;
  }

  &:not(:empty)::before {
    margin-right: .25em;
  }

  &:not(:empty)::after {
    margin-left: .25em;
  }
}

.login-container {
  display: flex;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 900px;
  width: 100%;


  max-width: 1100px;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 40px;
  max-width: 400px;
  width: 100%;

  h1 {
    padding: 0;
    font-family: 'Roboto', 'DM-Sans', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #6b2ae5;
    margin-top: 0;
    margin-bottom: 0;
  }

  .yellow {
    color: #E3B134;
  }

  h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
  }

  p {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}

#b-google {
margin-bottom: 0.1rem;
}

.google-login {
  background-color: #E3B134;
  color: white;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 20px;
    margin-right: 10px;
  }
}

form {
  display: flex;
  flex-direction: column;

  label {
    font-family: 'Roboto', 'DM-sans', sans-serif;
    font-size: 0.9em;
    margin-bottom: 0.3rem;
    color: #000;
  }

  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;

    &#email,
    &#password {
      background-color: rgba(128, 87, 241, 0.367);
      margin-bottom: 0.5rem;
    }
  }

  input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
  }
}

.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .c-password {
    width: 100%;
  }

  #Eye_closed {
    width: 1.50rem;
  }

  .icon {
    position: absolute;
    right: 8px;
    top: 40%;
    transform: translateY(-50%);
    height: 60%;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
#d-remember {
  margin-top: 0.01rem;
}
.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.remember,
.password,
.email {
  font-weight: 500;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: #6C70F8;
}

.button-ingresar {
  background-color: #E3B134;
  color: white;
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: #0000005c 0px 4px 8px;
}

#btn-registrar, #btn-ingresar {
  padding:10px;
  font-size: 1rem;
  font-weight: 600;
}
.button-register {
  background-color: #6b2ae5;
  color: white;
  font-size: 1em;
  font-weight: 600;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: #0000005c 0px 4px 8px;
}
.b-register, .b-ingresar{
  text-decoration: none;
}

#modal-pregunta{
  color:#6C70F8;
  padding: 0;
  margin: 0;
}
.btn-close{
  
  position: absolute;
  right: 0.2rem;
  margin-top: 0.2rem;
  width: 1rem;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.modal-dialog {
  box-shadow: 0 0 40px rgba(21, 21, 21, 0.5);
}

#b-enviar{
  background-color: #6b2ae5;
  color: #ffffff;
  .btn-enviar {
  box-shadow: #0000005c 0px 4px 8px;
  }
}

.email-modal {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(128, 87, 241, 0.367);
  width: 100%;
  margin-top: 0.5rem;
}
.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  img {
    background-size: cover;
    max-width: 100%;
    height: auto;
  }
}