/*
================================
  ------- Nav --------  
================================
  */
/* beginning Nav */

nav {
  background-color: #f3f3f3;
  box-shadow: 0 10px 1rem #888888;
  margin-bottom: 1rem;
}
