@keyframes expand {
  from{width: 30%;}
  to{width: 70%;}
}
/*
================================
  ------- Nav --------  
================================
  */
/* beginning Nav */

nav {
  background-color: var(--c_MainColor);
  box-shadow: 0 2px 1rem #888888;
  padding: 1rem 2rem .5rem;
  
  
  ul{
      display: flex;
      
    li{
        list-style-type: none;
        margin: 0 .5rem;
      button{
        color: var(--c_white);
        padding: .5rem 1rem;
        border-radius: 1.5rem;
        img{
          margin: 0 1rem 0 0;
        }
      }
    }
  }
}
.no__decoration{
  text-decoration: none;
  color: white;
}
.disabled{
  display: none;
}

.button__styleP{
  background-color: var(--c_purple400);
  border: none
}
.button__styleP:hover{
  box-shadow: var(--c_shadow);
  background-color: var(--c_purple200);
}
.button__styleY{
  background-color: var(--c_yellow400);
  border: none;
  padding: .5rem 2rem;
}
.button__styleY:hover{
  box-shadow: var(--c_shadow);
  background-color: var(--c_yellow200);
}
.brand__color1{
  color: var(--c_purple400);
}
.brand_color2{
  color: var(--c_yellow400);
}
.navButt{
  color: #6D8493;
  border: 3px solid transparent;
  border-radius: .5rem;
  background-color: transparent;
  margin: 0 1rem;
}
.navButt:hover{
  border: 3px solid var(--c_purple400);
  color: var(--c_purple400);
}
.inicio{
  padding-top: .3rem;
  margin-left: .5rem;
}