/*Import*/
@import "globales";

/*Variables*/
$color-white: #ffffff;
$color-black: #000;
$color-purple900: #1e0342;
$color-purple400: #5b1dae;
$color-purple200: #984bfd;
$color-yellow400: #e3b134;
$color-yellow200: #fdd87b;
$c_shadow: 2px 1px 5px #3f3f3f;

/*
  body {
      background-color: #edf2f6;
      font-family: "Roboto", sans-serif;
      margin: 0;
      padding: 0;
  }*/
.fondo {
  background-color: #edf2f6;
}

/*Profile*/
.mainProfile {
  margin: 20px auto;
  max-width: 98rem;
  background-color: $color-white;
  border-radius: 0.5rem;
  min-height: 58vw;

  .containerProfile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    max-height: 500px;

    .profileBanner {
      grid-area: 1 / 1 / 2 / 6;
      height: 12rem;
      background-image: url("../components/img/Portada.png");
      background-size: cover;
      background-position: center;
      border-radius: 8px 8px 0px 0px;

      .profilePic {
        position: relative;
        margin: 20px;
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        /* Hace que la imagen corte el banner */
        bottom: -6rem;
      }

      .userData {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-left: 14rem;

        .datos {
          flex-direction: column;
        }

        h1 {
          font-size: 2.3rem;
          font-weight: 700;
          margin-bottom: 0.25rem;
        }

        p {
          font-size: 1rem;
          margin-top: 0;
        }

        .btn-contratar {
          width: 12rem;
          height: 100%;
          margin: 1rem;
        }
      }

      .button__styleY {
        background-color: $color-yellow400;
        color: $color-white;
        font-size: 1.2rem;
        font-weight: bold;
        border: 0.1rem solid $color-purple400;
        padding: 8px 48px;
        border-radius: 16px;
        margin: 0 0.5rem 0 0;
      }

      .button__styleY:hover {
        box-shadow: $c_shadow;
        background-color: $color-yellow200;
      }

      .ProfileAboutMe {
        grid-area: 2 / 1 / 3 / 3;
        border: 1px solid $color-purple400;
        justify-content: center;
        max-width: 40rem;
        height: 100%;

        p {
          margin: 20px;
        }
      }
    }

    .rightSection {
      grid-area: 2 / 2 / 3 / 3;

      .postulations {
        margin: 0;
      }
    }

    .ProfileLeftSection {
      grid-area: 2 / 1 / 3 / 2;

      .ProfileAboutMe {
        margin: 20px auto;
        padding: 6rem 4rem 0 4rem;
        max-width: 50rem;

      }
    }
  }

  .resenas {
    grid-area: 3 / 1 / 4 / 2;
    margin: 0 4rem;

    .resena {
      margin: 20px auto;
      padding: 1rem;
      max-width: 50rem;
      border-radius: 10px;

      .resena-body {
        border: 1px solid $color-purple400;
      }
    }
  }

  .ofertas {
    grid-area: 3 / 2 / 4 / 3;
  }

  h2 {
    font-size: 30;
    margin: 20px auto;
  }
}

.accepted {
  background-color: $color-purple200;
  color: $color-white;
}

.job-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid #e0e0e0;
  max-width: 600px;
  margin: 20px;
  font-family: Arial, sans-serif;

  .actionButtons {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;

    a {
      margin-top: 0.3rem;
    }
  }
}

.job-image img {
  max-width: 6rem;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}

.job-info {
  flex-grow: 1;
}

.jobName {
  font-size: 1.3rem;
}

.job-info h3 {
  margin: 0;
  font-weight: bold;
  color: #333;
}

.job-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.job-info p i {
  margin-right: 5px;
  color: #7b1fa2;
}

.jobDetails {
  font-weight: 700;
}

.jobVector {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 .2rem;
}

.status {
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.pending {
  background-color: #1976d2;
  color: #fff;
}

.pending::before {
  font-family: "Font Awesome 5 Free";
  /* Asegúrate de tener Font Awesome incluido */
  font-weight: 900;
  margin-right: 5px;
}

.profileSkills {
  max-width: 50rem;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  margin: 20px auto;
  padding: .5rem 4rem;
}

.containerProfile h2 {
  font-size: 20px;
  color: #d4a72c;
  margin-bottom: 15px;
  font-weight: bold;
  border-bottom: 2px solid #0008;
  padding-bottom: 5px;
  display: inline-block;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #f3c74f;
  color: $color-white;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.tag::before {
  margin-right: 8px;
  font-weight: bold;
  color: $color-white;
}

.add-tag {
  background-color: transparent;
  color: #000;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.add-tag:hover {
  text-decoration: underline;
}

.resena {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 2px solid #e0e0e0;
  padding: 15px;
  border-radius: 5px;
  width: 600px;
  margin: 20px auto;
}

.resena-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;

  h4 {
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1.2rem;
  }
}

.resena-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.resena-rating {
  display: flex;
}

.resena-star {
  color: #ffc107;
  font-size: 18px;
}

.resena-ver-imagenes {
  margin-left: auto;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.resena-body {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.resena-comment {
  display: flex;
  align-items: center;
}

.resena-comment-icon {
  font-size: 20px;
  margin-right: 10px;
}

.offerButton,
.hireButton {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

.offerButton {
  background-color: #f0ad4e;
  color: #fff;
}

.offerButton:hover {
  background-color: #ec971f;
}

.hireButton {
  background-color: #6c63ff;
  color: #fff;
}

.hireButton:hover {
  background-color: #5a54e6;
}