//Import
//@use 'index';

//Variables
$color-white: #ffffff;
$color-black: #000;
$color-purple900: #1E0342;
$color-purple400: #5B1DAE;
$color-purple200: #984bfd;
$color-yellow400: #E3B134;
$color-yellow200: #fdd87b;
$c_shadow: 2px 1px 5px #3f3f3f;

body {
    background-color: #EDF2F6;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

//Profile
.mainProfile {
    margin: 20px auto;
    padding: 0 20px;
.containerProfile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


    .profileBanner {
        align-self: center;
        width: 110rem;
        height: 12rem;
        background-image: url('../components/img/Portada.png');
        background-size: cover;
        background-position: center;
        border-radius: 8px 8px 0 0;

        .profilePic {
            position: relative;
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            /* Hace que la imagen corte el banner */
            bottom: -6rem;
        }

        .userData {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-left: 12rem;

            h1 {
                font-size: 2rem;
                margin-bottom: 0.25rem;
            }

            p {
                font-size: 1rem;
                margin-top: 0;
            }
        }
    }

    .btn-contratar {
        width: 12rem;
        height: 100%;
    }

    .button__styleY {
        background-color: $color-yellow400;
        color: $color-white;
        font-size: 1.2rem;
        font-weight: bold;
        border: .1rem solid $color-purple400;
        padding: 8px 48px;
        border-radius: 16px;
        margin: 0 .5rem 0 0;
    }

    .button__styleY:hover {
        box-shadow: $c_shadow;
        background-color: $color-yellow200;
    }

    .aboutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 40rem;
        height: 100%;
    }
}
}

// .userData {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100%;

// span {
//     h1 {
//         font-size: 2rem;
//         margin-bottom: 0.25rem;
//     }

//     p {
//         font-size: 1rem;
//         margin-top: 0;
//     }
// }
// }