@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.renderQuestions {
  display: flex;
  padding: 1rem;

  .imgQuestions {
    width: 50%;
    .bannerQuestion {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
      display: block;
      margin: 0 auto;
      border-radius: 8px;
    }
  }
  .questions {
    width: 50%;
    padding: 2rem;
    h5 {
      text-align: left;
    }
    p {
      text-align: "left";
    }
    .showP1,
    .showP2,
    .showP3,
    .showP4,
    .showP5,
    .showP6 {
      display: none;
    }
    #componenteRenden1,
    #componenteRenden2,
    #componenteRenden3,
    #componenteRenden4,
    #componenteRenden5,
    #componenteRenden6 {
      display: flex;
      justify-content: space-between;
    }
    button {
      font-size: 28px;
      border: none;
      background-color: #fff;
      color: #5b1dae;
    }
    .titleQuestions {
      margin-bottom: 2rem;
    }
  }
}
.renderRespuestas {
  margin-bottom: 1rem;
  border-bottom: 3px solid #d7def0;
}
