@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.setting {
  height: auto;
}
.nav-link {
  transition: transform 0.6s ease;
}
.main-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
  .setting-card {
    padding: 1rem;
  }
  p {
    color: #4c535f;
  }
  .mainInputs {
    border-top: solid 3px #edf2f6;
    .description {
      display: flex;
      p {
        display: flex;
      }
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      .inputDescription {
        width: 100%;
        height: 9.85rem;
        padding: 10px;
        background-color: #edf2f6;
        border: solid 1px #edf2f6;
        border-radius: 8px;
        box-sizing: border-box;
        text-align: left;
        resize: none;
      }
    }

    .containerInputs {
      display: flex;
      p {
        font-size: 16px;
        display: flex;
        margin-top: 8px;
        margin-bottom: 8px;
        font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        text-transform: inherit;
      }
      .firstInputs {
        width: 50%;
        padding: 1rem;
        .inputName {
          width: 100%;
          padding: 15px;
          background-color: #edf2f6;
          border: solid 1px #edf2f6;
          border-radius: 8px;
        }

        .inputUSer {
          width: 100%;
          padding: 15px;
          background-color: #edf2f6;
          border: solid 1px #edf2f6;
          border-radius: 8px;
        }
      }
      .secondInputs {
        width: 50%;
        padding: 1rem;
        .inputEmail {
          width: 100%;
          padding: 15px;
          background-color: #edf2f6;
          border: solid 1px #edf2f6;
          border-radius: 8px;
        }
        .Phone {
          width: 100%;
          padding: 15px;
          background-color: #edf2f6;
          border: solid 1px #edf2f6;
          border-radius: 8px;
        }
      }
    }
    .btn-container {
      display: flex;
      align-items: center;
      padding: 16px;
      button {
        border-radius: 1.5rem;
        color: var(--c_white);
        padding: 0.5rem 1.2rem;
        margin-right: 5px;
        transition: all 0.3s ease;
      }
      .button__styleY {
        color: #32353c;
        border: none;
        background-color: #fff;
      }
      .button__styleY:hover {
        color: #a54024;
        background-color: #fff;
        box-shadow: none;
      }
    }
  }
}
.setting-card {
  width: 80%;
  li {
    border-bottom: solid 2px #edf2f6;
    box-sizing: border-box;
    transition: border 0.3s ease;

    a {
      font-size: 18px;
      color: #4c535f;
      border: none;
    }
    a:hover {
      border: none;
      color: #5b1dae;
    }
  }
  li:hover {
    border-style: none;
    border-bottom: solid 3px #5b1dae;
  }

  .card-header {
    background-color: white;
    border: none;
  }
}
.card-body {
  display: flex;
  flex-direction: column;
  .card-title {
    display: flex;
  }
  .addImage {
    width: 8.5rem;
    height: 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-radius: 12px;
    border-color: #c4c8cb;
    background-color: #edf2f6;
    margin-top: 1rem;
    p {
      text-align: center;
      color: #a9a9a9;
    }
    img {
      max-width: 30%;
      max-height: 30%;
      height: auto;
    }
  }
}
.inputEmail {
  width: 100%;
  padding: 15px;
  background-color: #edf2f6;
  border: solid 1px #edf2f6;
  border-radius: 8px;
}
.subtitleContacts {
  padding: 0rem 1rem;
  margin: 0;
  font-size: 16px;
}
.my-componentLogin {
  display: flex;
  flex-direction: column;
  width: 100%;
  .ContainerLogin {
    margin-left: 1rem;
  }
  p {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  .titleLogin {
    padding: 1rem;
    font-size: 20px;
  }
  .divLogin {
    display: flex;
    width: 100%;
    .divLogin2 {
      width: 100%;
      padding: 1rem;
    }
    .divLogin4 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 1rem;
    }
  }
  .inputEmail {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #edf2f6;
    border: solid 1px #edf2f6;
    border-radius: 8px;
  }
  .divLogin10 {
    display: flex;
  }
}
.divLogin5 {
  display: flex;
  width: 100%;
  .divLogin6 {
    width: 50%;
    padding: 1rem;
  }

  .divLogin8 {
    width: 50%;
    padding: 1rem;
  }
}
.divLogin10 {
  padding: 16px;
  button {
    color: var(--c_white);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    margin-right: 8px;
    transition: all 0.3s ease;
  }
  .button__styleY {
    color: #32353c;
    border: none;
    background-color: #fff;
  }
  .button__styleY:hover {
    color: #a54024;
    background-color: #fff;
    box-shadow: none;
  }
}
