/*
================================
  -------globales--------  
================================
  */
/* --debugger --*/
* {
  margin: 0;
  padding: 0;
}

:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "Roboto", sans-serif;
  --f_fontFamily--Secundary: "Montserrat", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_white: #fff;
  --c_black: #000;
  --c_purple900: #1E0342;
  --c_purple400: #5B1DAE;
  --c_purple200: #984bfd;
  --c_yellow400: #E3B134;
  --c_yellow200: #fdd87b;
  /*-- Buttons Shadow --*/
  --c_shadow: 2px 1px 5px #3f3f3f;
}

/*
================================
------- Footer --------  
================================
  */
/* beginning Footer */
.footer {
  background-color: var(--c_purple900);
  grid-template-columns: 3;
  grid-template-rows: 1;
}
.footer .footer__brand {
  display: flex;
}
.footer .brand_color1 {
  color: var(--c_purple400);
}
.footer .brand_color2 {
  color: var(--c_yellow400);
}
.footer .foot_colorW {
  color: var(--c_white);
}

/*
================================
  -------globales--------  
================================
  */
/* --debugger --*/
* {
  margin: 0;
  padding: 0;
}

:root {
  /*-- Font --*/
  --f_fontSize: 16px;
  --f_fontWeight: 400;
  --f_fontFamily: "Roboto", sans-serif;
  --f_fontFamily--Secundary: "Montserrat", sans-serif;
  --f_lineHeight: 1.5;
  /*-- Colour --*/
  --c_white: #fff;
  --c_black: #000;
  --c_purple900: #1E0342;
  --c_purple400: #5B1DAE;
  --c_purple200: #984bfd;
  --c_yellow400: #E3B134;
  --c_yellow200: #fdd87b;
  /*-- Buttons Shadow --*/
  --c_shadow: 2px 1px 5px #3f3f3f;
}

/* beginning header */
@keyframes expand {
  from {
    width: 30%;
  }
  to {
    width: 70%;
  }
}
/*
================================
  ------- Nav --------  
================================
  */
/* beginning Nav */
nav {
  background-color: var(--c_purple900);
  box-shadow: 0 10px 1rem #888888;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0.5rem;
}
nav div {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 720px;
}
nav div form {
  width: 100%;
}
nav div input {
  background-color: #fafafa;
  border: none;
  margin-left: 1rem;
  border-radius: 1rem;
  padding: 0 1rem;
  height: 2rem;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 0 0.5rem;
}
nav ul li button {
  color: var(--c_white);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}
nav ul li button img {
  margin: 0 1rem 0 0;
}

.no__decoration {
  text-decoration: none;
  color: white;
}

.disabled {
  display: none;
}

.button__styleP {
  background-color: var(--c_purple400);
  border: 0.1rem solid var(--c_yellow400);
}

.button__styleP:hover {
  box-shadow: var(--c_shadow);
  background-color: var(--c_purple200);
}

.button__styleY {
  background-color: var(--c_yellow400);
  border: 0.1rem solid var(--c_purple400);
  padding: 0.5rem 2rem;
}

.button__styleY:hover {
  box-shadow: var(--c_shadow);
  background-color: var(--c_yellow200);
}

input:focus {
  animation-name: expand;
  animation-duration: 0.65s;
  width: 70%;
}

/*# sourceMappingURL=index.css.map */
