@import "globales";
@import "question";
@import "footer";
@import "globales";
@import "header";
@import "nav";
@import "main";
@import "login";
@import "register";
@import 'settings';
@import 'profile';
@import 'aboutUs';
@import 'pago';
